opencv-python
numpy
cv2
Pillow
pytesseract
scikit-learn
transformers
diffusers
torch
opencv-python
numpy
requests
pillow
python-dotenv
scikit-learn
pytesseract
tensorflow
streamlit
Pillow
opencv-python-headless
numpy
python-dotenv
requests
scikit-learn
pytesseract
tensorflow
